<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Beonyeok</string>
	<key>CFBundleExecutable</key>
	<string>Beonyeok</string>
	<key>CFBundleIdentifier</key>
	<string>net.jioh.translateapi</string>
	<key>CFBundleName</key>
	<string>Beonyeok</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Serves the translation API to devices on your network.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UpdateAssetPrefix</key>
	<string>beonyeok</string>
	<key>UpdateRepo</key>
	<string>ziozzang/beonyeok</string>
</dict>
</plist>
